:root {
  --text-color: light-dark(oklch(0.2 0.05 260), oklch(0.9 0.025 180));

  /* background color */
  --bg-color-light: linear-gradient(135deg, oklch(0.85 0.01869 218.642), oklch(0.8 0.01811 183.685));
  --bg-color-dark: linear-gradient(135deg, oklch(22.814% 0.04219 228.492), oklch(21.369% 0.04101 166.854));
  --bg-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
}

/* ダークモード強制指定時 */
html[data-color-mode="dark"] {
  color-scheme: dark;

  --text-color: #fafafa;
  --text-color-accent: #5975d0;
  --bg-color: var(--bg-color-dark);
}

/* ライトモード強制指定時 */
html[data-color-mode="light"] {
  color-scheme: light;

  --text-color: #333;
  --text-color-accent: #333;
  --bg-color: var(--bg-color-light);
}
