:root {
  --text-color: light-dark(#333, #fafafa);
  --text-color-accent: light-dark(#333, #5975d0);

  /* background color */
  --bg-color-light: linear-gradient(135deg, oklch(93.916% 0.02272 217.855), oklch(90.723% 0.03291 180.082));
  --bg-color-dark: linear-gradient(135deg, oklch(26.053% 0.05001 231.865), oklch(24.642% 0.04927 165.526));
  --bg-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
}

/* ダークモード強制指定時 */
html[data-color-mode="dark"] {
  color-scheme: dark;

  --text-color: #fafafa;
  --text-color-accent: #5975d0;
  --bg-color: var(--bg-color-dark);
}

/* ライトモード強制指定時 */
html[data-color-mode="light"] {
  color-scheme: light;

  --text-color: #333;
  --text-color-accent: #333;
  --bg-color: var(--bg-color-light);
}
