---
const year = new Date().getFullYear();
---

<div
  class="[grid-column:col-start/span_12] grid justify-center items-center py-2 relative before:content-['☄︎_☄︎_☄︎_☄︎_☄︎'] before:text-base before:text-slate-900/80 before:dark:text-slate-100/80 before:tracking-[0.5rem] before:leading-none"
>
</div>
<footer class="py-2 text-xs">
  <p>
    © {year} - otetoteto, All rights reserved.
  </p>
  <p>このブログは <a href="https://astro.build/">Astro</a> で構築されています。</p>
</footer>
