---
import ColorModeSelector from "../ColorModeSelector/ColorModeSelector.astro";
---

<header class="pt-4 grid grid-cols-3 gap-4 items-center">
  <a href="/" class="text-2xl font-bold w-max">otetoteo.io</a>
  <nav class="justify-self-center">
    <ul class="grid grid-flow-col auto-cols-max gap-4">
      <li>
        <a
          href="/blog"
          class="text-base hover:opacity-80 [&[aria-current=page]]:font-bold [&[aria-current=page]]:text-blue-600 dark:[&[aria-current=page]]:text-blue-400"
          >Blog</a
        >
      </li>
      <li>
        <a
          href="/photo"
          class="text-base hover:opacity-80 [&[aria-current=page]]:font-bold [&[aria-current=page]]:text-blue-600 dark:[&[aria-current=page]]:text-blue-400"
          >Photo</a
        >
      </li>
    </ul>
  </nav>
  <div class="justify-self-end grid items-center">
    <ColorModeSelector />
  </div>
</header>

<script>
  const navLinks = document.querySelectorAll("nav a");
  for (const link of navLinks) {
    const href = link.getAttribute("href");
    if (href === null || href === "/") continue;
    if (window.location.pathname.startsWith(href)) {
      link.setAttribute("aria-current", "page");
    }
  }
</script>
